<header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()"> Volver </ion-button>
    </ion-buttons>
  </ion-toolbar>
</header>
<ion-content>
<figure class="ion-text-center">
  <img src="assets/images/logo.png"/>
</figure>
<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
      
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input formControlName="nombre"></ion-input>
  </ion-item>
  
  <div class="validation-error">
    <ng-container *ngFor="let validation of validation_messages.nombre">
      <div
      *ngIf=" 
      registerForm.get('nombre').hasError(validation.type) &&
        (registerForm.get('nombre').dirty || 
        registerForm.get('nombre').touched
      )"
    >
    <div class="alert">
      <strong>Error: </strong> {{ validation.message }}
    </div>
    </div>
    </ng-container>
  </div>
  
  <ion-item>
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input formControlName="apellido"></ion-input>
  </ion-item>
  
  <div class="validation-error">
    <ng-container *ngFor="let validation of validation_messages.apellido">
      <div
        *ngIf=" 
        registerForm.get('apellido').hasError(validation.type) &&
          (registerForm.get('apellido').dirty || 
          registerForm.get('apellido').touched
        )"
      >
      <div class="alert">
        <strong>Error: </strong> {{ validation.message }}
      </div>
      </div>
    </ng-container>
  </div>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>
  
  <div class="validation-error">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div
      *ngIf=" 
      registerForm.get('email').hasError(validation.type) &&
        (registerForm.get('email').dirty || 
        registerForm.get('email').touched
      )"
    >
    <div class="alert">
      <strong>Error: </strong> {{ validation.message }}
    </div>
    </div>
    </ng-container>
  </div>
  
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  
  <div class="validation-error">
    <ng-container *ngFor="let validation of validation_messages.password">
      <div
      *ngIf=" 
      registerForm.get('password').hasError(validation.type) &&
        (registerForm.get('password').dirty || 
        registerForm.get('password').touched
      )"
    >
    <div class="alert">
      <strong>Error: </strong> {{ validation.message }}
    </div>
    </div>
    </ng-container>
  </div>
  
  <ion-button expand="full" fill="outline" shape="round" color="success" [disabled]="!registerForm.valid" type="submit"> Registrase </ion-button>
  </form>
  </ion-content>
  