.header-section {
    background-color: var(--ion-color-miprimary);/** VARIABLE CREADA **/
    margin: 10px,10px,10px,10px;
    height: 100%;
}

.center-avatar {
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.avatar-size {
    width: 100px;
    height: 100px;
}
ion-title{
    text-align: center;
   color: var(--ion-color-miprimary);
 
  }
  ion-col{
font-family: Arial;
  }

  ion-content {
  margin: 10px;
  padding: auto;

  }